@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
  @apply bg-[#f3f3f3] text-[#111111] font-sans antialiased overflow-x-hidden;
}
}

@layer components {
  .btn-primary {
    @apply bg-[#cc0000] text-white font-semibold py-3 px-6 rounded hover:bg-[#aa0000] transition-colors duration-300;
  }
}

/* Custom Swiper Styles */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
}

/* Custom Horizontal Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #9e9e9e;
}
.custom-scrollbar {
  scrollbar-width: thin;
   scrollbar-color: #bdbdbd #ececec;
}
